@charset "utf-8";
/* 초기화 */
* { margin: 0; padding: 0;}
body { font-family: 'Helvetica', sans-serif;}
li { list-style: none;}
a { text-decoration: none;}
img { border: 0;}

/* 헤더 */
#main_header {
    height: 45px;
    background: url(/html5_css3/sourse/ch_6/header_background.png);
}