@charset "utf-8";
/* 초기화 */
* { margin: 0; padding: 0;}
body { font-family: 'Helvetica', sans-serif;}
li { list-style: none; }
a { text-decoration: none; color: inherit;}
img { border: 0;}
html, body {height: 100%; width: 100%;}

/* 네비게이션 */
header > #title {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100px;
    line-height: 100px;
    z-index: 10;
    border-bottom: 2px solid red;
    background-color: whitesmoke;
    padding: 0 50px;
}
header > #title > h1 {
    color: inherit;
    float: left;
    padding: 10px;
}
header > #title > .title-menu {
    overflow: hidden;
    float: left;
}
header > #title > .title-menu > ul > li {
    float: left;
    padding: 20px;
}
header > #title > .side-nav {
    overflow: hidden;
    padding-right: 100px;
}
header > #title > .side-nav > div > a {
    float: right;
    padding: 20px;
}


/* 메인영상 */
#main {
    width: 1160px;
    margin: 0 auto;
}
#main > video {
    background: orange;
    width: 1160px;
    margin-top: 100px;

}

/* 콘텐츠 */
#content {
    height: 100%;
}
#content #visual {
    width: 1160px;
    margin: 0 auto;
}
/* 포부 */
#content section#visual .show h2 {
    color: red;
    position: block;
    font-size: 3em;
}

/* 섹션1 비주얼 */
#content section#visual {
    padding: 10px;
    position: relative;
}
#content section#visual .show {
    display: inline-block;
}
#content section#visual > #album a {
    width: 360px;
    height: 610px;
    /* position: absolute; */
    margin: 30px 30px 30px 0;
    display: inline-block;
}
#content section#visual > #album a:nth-child(2) {
    position: absolute;
    top: 0;
    margin-top: 0;
    margin-bottom: 0;
}
#content section#visual > #album a:nth-child(3) {
    position: absolute;
    top: 100px;
    right: 0;
    margin-right: 0;
}
#content section#visual > #album a:nth-child(4) {
    position: absolute;
    bottom: -10px;
    display: inline-block;
    margin-top: 0;
}
#content section#visual .info-index{
    width: 360px;
    height: 480px;
    position: absolute;
    right: 0;
    bottom: 20px;
    display: block;
    background-color: orange;
}
#content section#visual .info-index a {
    width: 100%;
    height: 33%;
    display: block;
}
#content section#visual .index-news {
    background-color: orange;
    width: 360px;
    display: inline-block;
    height: 390px;
}

#content section#visual .index-news h3 {
    font-size: 36px;
}


/* 센션2 인사이트 */
#content section#insite {
    padding: 77px 0 60px 0;
    background-color: rgb(235, 235, 235);
}
#content section#insite h3 {
    font-size: 36px;
    margin-bottom: 30px;
    padding: 10px;
}
#content section#insite #insite-contents {
    box-sizing: border-box;
    
    width: 1160px;
    margin: 0 auto;
}
#content section#insite #insite-contents .insite-news {
    display: inline-block;
    width: 360px;
    padding: 10px;
}
#content section#insite #insite-contents .insite-news h4 {
    font-size: 20px;
    padding: 15px 0;
}
#content section#insite #insite-contents .insite-news p {
    padding: 10px 0;
}

/* 섹션3 소셜 */
#content section#social {
    background-color: rgb(235, 235, 235);
}

#content section#social .social-contents {
    width: 1160px;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
    border-top: 1px solid #dadadd;
}
#content section#social p {
    font-size: 26px;
    display: inline-block;
    margin-left: 200px;
    margin-top: 10px;
}
#content section#social ul {
    display: inline;
    float: right;
}

#content section#social li {
    display: inline-block;
    text-align: center;
    padding: 0 15px;
}
#content section#social li img {
    border-radius: 50%;
}

#content section#social li a span {
    display: block;
}


/* 섹션4 링크 */
#content section#link .link-contents {
    width: 1160px;
    margin: 100px auto;
    display: table;
}
#content section#link .link-contents a {    
    border-left: 1px solid rgb(235, 235, 235);
    display: table-cell;
    text-align: center;
}
#content section#link .link-contents a:last-child {    
    border-right: 1px solid rgb(235, 235, 235);
}

#content section#link .link-contents a span {
    padding-bottom: 20px;
    display: block;
    font-weight: 600;
    color: #333;
}

/* 푸터 */
footer {
    width: 100%;
    background-color: #ed133b;
}

footer #footer-link .footer-link {
    width: 1160px;
    margin: 0 auto;
    padding: 20px;
}

footer #footer-link .footer-link button{
    float: right;
    display: block;
}